TARGET_URL=https://ai.studio/apps/f7809540-2218-407b-9210-0af3bda47602
PORT=7860
HOST=0.0.0.0
API_KEYS=sk-your-api-key-here
MAX_RETRIES=1
PROXY_URL=http://127.0.0.1:18991
INITIAL_AUTH_INDEX=4
SOCKS_UPSTREAM_URL=socks5://user:pass@host:port
SWITCH_ON_USES=80
